    #signin,
    #register {
        background-color: black;
        font-family: sans-serif;
    }
    
    #signin>#mainbody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #d71821;
        margin: 100px;
        border-radius: 25px;
    }
    
    #register>#mainbody {
        background-color: #d71821;
        margin: 100px;
        border-radius: 25px;
    }
    
    #signin>#mainbody>div,
    #register>#mainbody>#mainpanel {
        margin: 10px;
    }
    
    #signin>#mainbody>#leftpanel {
        text-align: center;
        line-height: 400px;
        margin-top: 10px;
    }
    
    #signin>#mainbody>#rightpanel>form,
    #register>#mainbody>#mainpanel {
        margin-top: 50px;
    }
    
    #gridsplitter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
    
    #register>#mainbody>#mainpanel>#leftpanel {
        flex: 0 0 65%;
        padding-left: 200px;
    }
    
    #register>#mainbody>#mainpanel>#rightpanel {
        flex: 1;
    }
    
    #signin>#mainbody>#leftpanel>#registerlinkbutton {
        display: inline-block;
        font-weight: bold;
    }
    
    #signin>#mainbody>#rightpanel>#title,
    #register>#mainbody>#mainpanel>#title {
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
        font-size: 50px;
    }